/* .avatar{
    background-image: linear-gradient(rgba(0, 0, 0, 0.129), rgba(0, 0, 0, 0.123)), url('../../assets/images/background.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
} */
.video{
    width: 25px;
}
.icons{
    width: 20px;
}